# Python virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Reports and output
report_*.json

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all JSON and PDF files
*.json
*.pdf
